
#footer {
    background-color: #678e19; 
    color: #fff;
    padding: 30px;
}
.sec12-container {
    max-width: 100%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 100px;
   

}

#sec12-border{
    border-right: #b8f147 1px solid;
}

#footer-logo{
    width: 220px;
    height: 80px;
}
#footer-p{
    font-size: 16px;
   margin-top: 10px;
   margin-left: 20px;
   color: #e3dddd;
}
#footer-c{
    margin-top: 50px;
    margin-left: 20px;
}
.sec12-h4{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 16px;
    
}
.footer-ul li{
  text-decoration: none;
}
.f-p{
    margin-bottom: 10px;
    line-height: 22px;
   
}

.footer-a{
    color: #fff; 
}

.footer-a2{
   text-decoration: none;
    color: #fff;
    margin-bottom: 15px; 
}
.sec12-icon-text{
    margin-bottom: 10px;
    
}
.header-a {
    text-decoration: none;
    color: #e3d5d5;
}
.header-a :hover{
    color:#8ec63f;
}
/* footer icon */

#footer-icon{ 
   
    color: #e3d5d5;
    display: flex;
    justify-content: space-between;
    /* padding: 5px; */
}

#footer-icon ul{
    display: flex;
    list-style: none;
    align-items: center; 
}

/* header-left */
#footer-r li{
   
    background-color: #555252;
    width: 20px;
    height: 20px;
    border-radius: 50%;
   display: flex;
   align-items: center;
    justify-content: center;   
}
#footer-icon ul li {
    margin-right: 10px;
}

#footer-icon ul li i {
    font-size: 12px;
}

/* .header-a */
.footer-icon-a{
    text-decoration: none;
    color: #8ec63f ;
}
.footer-icon-a:hover{
    color:#e3d5d5;
}

@media (max-width: 768px) {
    .sec12-container {
      
        margin: 10px auto;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    .f-p{
        margin-left: 30px;
    }
    .sec12-h4{
    margin-left: 20px;
    }
    .sec12-icon-text{
        margin-left: 20px;
    }
    /* #footer-icon ul li i {
        margin-left: 20px;
    } */
    #footer-r li{
        margin-left: 20px;

       
    }
    #footer-r li{
        width: 25px;
        height: 25px;
    }
    #footer-icon ul li i {
        font-size: 15px;
    }
}