.section3-h2{
    font-size: 48px;
    text-align: center;
    margin-top:50px ;
    
}
.container-sec3{
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 32px;
}
.sec3-icon{
    width: 150px;
    height: 150px;
    background-color: #e2e8f0; 
    border-radius: 50%;
    margin: 0 auto 16px;
    padding: 10px;
}
.sec3-icon i{
    font-size: 90px;
    /* display: flex;
    justify-content: center; */
   margin-top: 20px;
    
}
.sec3-p{
    font-size: 16px;
    color:#c8ced6;
    text-align: center;
    margin: 10px 350px;  
}
.sec3-p2{
    color:#c8ced6;
    text-align: center;
    margin-top: 5px; 
}
#sec3-h2-span{
    color: #8ec63f;
}
.sec3-sub-con{
    text-align: center;
}
.sec3-h3{
    font-size: 16px;
    color: #464444;
}
/* Responsive styles */
@media (max-width: 768px) {
    .container-sec3{
        grid-template-columns: 1fr;
    }
    .sec3-p{
        text-align:center;
        margin: 10px 40px;
       
    }
    .sec3-p2{
        
        text-align: center;
        margin-top: 10px 50px;
        padding: 10px 30px; 
    }
    .section3-h2{
        font-size: 25px;
    }
    .sec3-icon{
        width: 80px;
        height: 80px;
       
        padding: 10px;
    }
    .sec3-icon i{
        font-size: 40px;
        margin-top: 5px;
        
    }
}
